
  @font-face {
    font-family: 'wildcardregular';
    src: url('fonts/wildcard/wildcard-lyrq-webfont.woff2') format('woff2'),
         url('fonts/wildcard/wildcard-lyrq-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'wildcard_3dregular';
    src: url('fonts/wildcard_yt/wildcard3d-vamb-webfont.woff2') format('woff2'),
         url('fonts/wildcard_yt/wildcard3d-vamb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

figure{
  margin: 0 0 1rem;
}
nav-left {
  float: left;
  vertical-align: top;
  width: 25%;
  padding: 10px;  
}
h6{
  font-family:monospace;
    font-style: normal;
    font-weight: 100;
    font-size: medium;
    margin: 0;
}

h4,h5{
    font-family:monospace;
    font-style: normal;
    font-weight: 100;
    font-size: x-large;
    line-height: 125%;
}
h1{
    font-family: 'wildcardregular';
font-size: 45px; 
}
h2{
    font-family: 'wildcardregular';
font-size: 30px;
}

h3{
    font-family: 'wildcard_3dregular';
    font-size: 7.5vw; 
    text-align: center;
}

.tiktok-embed{
    float: left;
    margin: 10px;
    width: 50%;
}


.column{
  display: inline-block;
  padding: 10px 10px 10px 10px;
  /* max-width: 30%; */
}


.column h4{
    display: block;
    position: relative;  
    float: left;
    white-space: normal;

}
.elem{
    position: relative;
   
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color:deeppink;
  width: 100%;
  text-align: center;
}

body {
  margin-bottom: 50px;
}

.highlight{
    margin: auto;
}

.image_side{
    height: 95%;
    float: left;
    margin-left: -30px;
}

side-header{
    position: fixed;
    float: left;
    width: 10%;
    top: 5px;
    left: 10px; 
    height: 100%;
    margin-left: 10px;
    align-self: left;
}


footer a{
    font-family: 'wildcardregular';
}
.header-column{
    position: fixed;
    display: block;
    right: 10%; 
    padding: 10px;
    border-radius: 10px;
}

.writing-container{
    width: 80vw;
    margin: auto;
    border-width: 2px;
}
.writing-container2{
  width: 100%;
  margin: 0%;
  border: 0px;
}

.ipad-main-container{
  width: 90vw;
  height: 50vw;
    z-index: 1;
    display: block;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    align-items: center;
}

.ipad-container{
  width: 65%;
  height: 50vw;
  margin-top: 15vw;
    border-width: 2px;
    z-index: 1;
    display: block;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 0;
    text-align: center;
    align-items: center;
    overflow: auto;
    border-radius: 10px;
    white-space: nowrap;
}

.ipad-column{
  display: inline-block;
  max-width: 60%;
  white-space: normal;
  padding: 4%;
  margin-left: auto;
  margin-right: auto;
  text-align: top;
  
  left: 0;
  right: 0;
  
}

.ipad-img{
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
  align-items: center;
  /* display: block; */
  z-index: -3;
  max-width: 80vw;
  position:fixed;
}

.monitor-img{
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
  align-items: center;
  z-index: -3;
  width: 55vw;
  position:absolute
}

.scrollblock{
    background-color: deeppink;
    overflow: auto;
    border-radius: 10px;
    white-space: nowrap;

}

.scrollmenu {
    background-color: lawngreen;
    overflow: auto;
    white-space: nowrap;
  }
.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .scrollmenu a:hover {
    background-color: whitesmoke;
    color: black;
  }
  
  .background-image{
      z-index: -1;
      position: absolute;
  }

  figure {
    margin: auto;
  }

  figure img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    padding: 2px;
    margin: 3px;
    margin-left: 10px;
  }
  
  figcaption {
    color: black;
    text-align: left;
    margin: 6px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  


  .row {
    display:flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column-grid {
    flex: 33%;
    max-width: 32%;
    padding: 0.5%;
  }
  
  .column-grid img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    padding: 2px;
    margin: 3px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 700px) {
    .column-grid {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column-grid {
      flex: 100%;
      max-width: 100%;
    }
  }

  @import "compass/reset";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/transform";


.imgLeft{
  clear: right;
  float: left;
  margin: 10px;
}

.imgRight{
  clear: left;
  float: right;
  margin: 10px;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: deeppink;
}

::selection {
  color: white;
  background: deeppink;
}

.show-on-scroll{

}
.button {
  background-color: deeppink; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}
.button:hover{
  background-color: lawngreen; /* Green */
  color: white
}

.scrollmenu .current{
  background-color: deeppink;
  }




  #div1 {
    /* position: absolute; */
    z-index: 1;
    background-image:url(images/home_vogue/feifei_avatar.png);
    width:100px;
    height:30px;
    }

    

    /* LEOTARD */
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: [col] 20vw [col] 20vw [col] 20vw [col] 20vw  ;
      grid-template-rows: [row] auto [row] auto [row] ;
      background-color: #fff;
      color: #444;
    }
  
    .wBox {
      /* background-color: #444; */
      color:black;
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;
    }
  
    .aLeo {
      grid-column: col / span 2;
      grid-row: row ;
    }

    /* .aLeo img{
      max-height: 100%;
    } */
    .bLeo {
      grid-column: col 3 / span 2 ;
      grid-row: row ;
    }
    .cLeo {
      grid-column: col / span 2;
      grid-row: row 2 ;
    }
    .dLeo {
      grid-column: col 3 / span 2 ;
      grid-row: row 2 ;
    }
  
    .eLeo {
      grid-column: col / span 2;
      grid-row: row 3;
    }

    .fLeo {
      grid-column: col 3 / span 2 ;
      grid-row: row 3;
    }

    .gLeo {
      grid-column: col / span 2;
      grid-row: row 4;
    }

    .hLeo {
      grid-column: col 3 / span 2 ;
      grid-row: row 4;
    }

    .iLeo {
      grid-column: col / span 2;
      grid-row: row 5;
    }

    .jLeo {
      grid-column: col 3 / span 2 ;
      grid-row: row 5 / span 2;
    }

    .kLeo {
      grid-column: col / span 2 ;
      grid-row: row 6 ;
    }

    .lLeo {
      grid-column: col / span 2;
      grid-row: row 7 / span 2;
    }

    .mLeo {
      grid-column: col 3 / span 2 ;
      grid-row: row 7;
    }

    .nLeo {
      grid-column: col 3 / span 2 ;
      grid-row: row 8 ;
    }

    .oLeo {
      grid-column: col / span 2;
      grid-row: row 9;
    }

    .pLeo {
      grid-column: col 3 / span 2 ;
      grid-row: row 9;
    }


     /* HAKAMA */
    .hrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: [col] 25vw [col] 25vw [col] 25vw   ;
      grid-template-rows: [row] auto [row] auto [row] ;
      color: #444;
    }
    .hrapper h6{
      text-align: center;
    }
  
    .hBox {
      color:black;
      border-radius: 5px;
    }
  
    .H-aLeo {
      grid-column: col 1;
      grid-row: row / span 2;
    }

    /* .aLeo img{
      max-height: 100%;
    } */
    .H-bLeo {
      grid-column: col 2 ;
      grid-row: row ;
    }
    .H-cLeo {
      grid-column: col 3;
      grid-row: row / span 2 ;
    }
    .H-eLeo {
      grid-column: col 2;
      grid-row: row 2 / span 2 ;
    }
    .H-fLeo {
      grid-column: col 1;
      grid-row: row 3 / span 2 ;
    }
    .H-gLeo {
      grid-column: col 3;
      grid-row: row 3 / span 2 ;
    }

    .H-hLeo {
      grid-column: col 2;
      grid-row: row 4 ;
    }





    .H-dLeo {
      grid-column: col 2 / span 2;
      grid-row: row  ;
    }

    /* Yukata */
.split-row{
  width: 100vw;
}

    /* Split the screen in half */
.split {
  height: 90%;
  width: 50%;
  position: absolute;
  top: 0;
  /* overflow-x: hidden; */
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color:white;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}