
nav-right {
    float: right;
    vertical-align: top;
    width: 25%;
  }

  @font-face {
    font-family: 'wildcardregular';
    src: url('fonts/wildcard/wildcard-lyrq-webfont.woff2') format('woff2'),
         url('fonts/wildcard/wildcard-lyrq-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'wildcard_3dregular';
    src: url('fonts/wildcard_yt/wildcard3d-vamb-webfont.woff2') format('woff2'),
         url('fonts/wildcard_yt/wildcard3d-vamb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

figure{
  margin: 0 0 1rem;
}
nav-left {
  float: left;
  vertical-align: top;
  width: 25%;
  padding: 10px;  
}
h6{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: medium;
    line-height: 25%;
}

h3,h4,h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: x-large;
    line-height: 125%;
}
h1{
    font-family: 'wildcardregular';
font-size: 45px; 
}
h2{
    font-family: 'wildcardregular';
font-size: 30px;
}

h3{
    font-family: 'wildcard_3dregular';
    font-size: 90px; 
}

.tiktok-embed{
    float: left;
    margin: 10px;
    width: 50%;
}

.side-block{
  width: 70%;
  float: left;
}


.border1{
    border: white;
    border-width: 2px;
    /* border-top-width: 10px; */
    border-style: solid;
    margin: 2%;
}

.column{
  display: inline-block;
  padding: 10px 10px 10px 10px;
  /* max-width: 30%; */
}


.column h4{
    display: block;
    position: relative;  
    float: left;
    white-space: normal;

}
.elem{
    position: relative;
   
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color:deeppink;
  width: 100%;
  text-align: center;
}

body {
  margin-bottom: 120px;
}

.highlight{
    margin: auto;
}

.image_side{
    height: 95%;
    float: left;
    margin-left: -30px;
}

side-header{
    position: fixed;
    float: left;
    width: 10%;
    top: 5px;
    left: 10px; 
    height: 100%;
    margin-left: 10px
}

navigator{
    border: 2px;
    border-color: black;
    position: fixed;
    top: 10px;
    right: 10px; 
    padding: 10px;
    border-radius: 10px;
    border-style:solid;
    background-color: white;
}

navigator a{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'wildcardregular';
    text-decoration: none;
    color: black;
}

navigator a:hover {
    background-color: black;
    color: white;
  }

footer a{
    font-family: 'wildcardregular';
}
.header-column{
    position: fixed;
    display: block;
    right: 10%; 
    padding: 10px;
    border-radius: 10px;
}

.writing-container{
    width: 80vw;
    margin: auto;
    border-width: 2px;
}

.scrollblock{
    background-color: deeppink;
    overflow: auto;
    border-radius: 10px;
    white-space: nowrap;

}

.scrollmenu {
    background-color: lawngreen;
    overflow: auto;
    white-space: nowrap;
  }
.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .scrollmenu a:hover {
    background-color: whitesmoke;
    color: black;
  }
  
  .background-image{
      z-index: -1;
      position: absolute;
  }

  figure {
    margin: auto;
  }

  figure img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    padding: 2px;
    margin: 3px;
    margin-left: 10px;
  }
  
  figcaption {
    color: black;
    text-align: left;
    margin: 6px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  


  .row {
    display:flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column-grid {
    flex: 33%;
    max-width: 32%;
    padding: 0.5%;
  }
  
  .column-grid img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    padding: 2px;
    margin: 3px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 700px) {
    .column-grid {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column-grid {
      flex: 100%;
      max-width: 100%;
    }
  }

  @import "compass/reset";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/transform";


.modal {
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width: 100%;
}

.modal {
  z-index:101;
  background-color: #030;
  visibility: hidden;
  opacity: 0;
}

.modal.active {
  	opacity: 1;
  	visibility: visible;
}

.imgLeft{
  clear: right;
  float: left;
  margin: 10px;
}

.imgRight{
  clear: left;
  float: right;
  margin: 10px;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: deeppink;
}

::selection {
  color: white;
  background: deeppink;
}

.show-on-scroll{

}

.scrollmenu .current{
  background-color: deeppink;
  }